<% provide(:title, 'Pledge') %>
<h1>What do you want to Pledge for this project?!</h1>
<%= form_for([@project, @pledge]) do |f| %>

      <%= f.label :amount %>
      <%= f.number_field :amount %>

   
      <%= f.submit "Pledge Now", class: "btn btn-large btn-primary"%>
    <% end %>