<h1>Listing projects</h1>

<ul>
<% @projects.each do |x| %>
<li class = 'project'><%=link_to x.title, project_path(x) %>
<%= x.teaser %></li>
<%end%>
</ul>



<div class= "paginate">
	<%= paginate @projects %>
</div>
