// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	padding: 10px;
}

h1{
	padding: 50px;
}

.welcome {
	color: orange;
	font-size: 55px;
}

p{
	padding: 400px, 50px, 75px, 100px;
	color: orange;
	font-size: 20px;
}